<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.RD_AAOW.SudokuSolver"
	android:installLocation="internalOnly" android:versionCode="600505" android:versionName="5.1">

	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="35" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

	<application android:label="Sudoku solver" android:icon="@drawable/icon"
		android:windowOptOutEdgeToEdgeEnforcement="true" />

	<queries>
		<intent>
			<action android:name="android.intent.action.SENDTO" />
			<data android:scheme="mailto" />
		</intent>
	</queries>
</manifest>
